<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.chadclose.questfinder.quest_finder.app" >

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name="com.chadclose.questfinder.quest_finder.app.Login"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.chadclose.questfinder.quest_finder.app.QuestPage"
            android:label="Quest List" >
        </activity>
        <activity
            android:name="com.chadclose.questfinder.quest_finder.app.QuestDetails"
            android:label="Quest Details" >
        </activity>
        <activity
            android:name="com.chadclose.questfinder.quest_finder.app.Settings"
            android:label="Settings" >
        </activity>
    </application>

</manifest>
